body {
  font-family: 'Overpass', sans-serif;
}

/* general */
.text-tiny {
  font-size: .8rem;
  line-height: 2.0;
}

.highlight-dark {
  background: #151515;
}

.tm-navbar {
  background: #32d296 !important;
}

.nav-btn {
  white-space: nowrap;
  padding: 0;
}

.uk-search-navbar .uk-search-input {
  color: white !important;
  font-size: 1.3rem !important;
}

/* chart */
.ct-chart .ct-line {
  stroke: #32d296;
  stroke-width: 1px;
}

.ct-chart .ct-area {
  fill: black;
}

.ct-label {
  color: white;
  font-size: 8px;
}

.ct-grid {
  stroke: #555;
}
